{{set . "title" "Home"}}
{{template "header.html" .}}

{{template "navigation.html" .}}
{{template "flash.html" .}}

<main class="container col-lg-12">
  <div class="main-content">
    <div class="button-container col-lg-12">
      {{set . "buttonType" "primary"}}
      {{set . "buttonValue" "Random"}}
      {{set . "path" "/random"}}
      {{template "button.html" .}}
    </div>
    <h2>Movie list</h2>
    <ul>
    {{range $i, $vFile := .vl}}
      <a href="/play?v={{$vFile.Hash}}">{{$vFile.Name}}</a><br>
    {{end}}
    </ul>
  </div>
</main>

{{template "footer.html" .}}
