{{set . "title" "Home"}}
{{template "header.html" .}}

{{template "navigation.html" .}}
{{template "flash.html" .}}

<main class="container col-lg-12">
  <div class="main-content">
    <h1>Resumed</h1>
    <h2>{{.video.Name}}</h2>
    <br><br>
    <div class="button-container col-lg-12">
      {{set . "buttonType" "success"}}
      {{set . "buttonValue" "Pause"}}
      {{set . "path" "/pause"}}
      {{template "button.html" .}}
    </div>

    <div class="button-container col-lg-12">
      {{set . "buttonType" "danger"}}
      {{set . "buttonValue" "Stop"}}
      {{set . "path" "/stop"}}
      {{template "button.html" .}}
    </div>

    <div class="button-container col-lg-12">
      {{set . "buttonType" "primary"}}
      {{set . "buttonValue" "Home"}}
      {{set . "path" "/"}}
      {{template "button.html" .}}
    </div>
  </div>
</main>

{{template "footer.html" .}}
